*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    overflow-x: hidden;
    user-select: none;
}

.container{
    width:100vw;
    height:100vh;
    background:white;
    display:flex;
    justify-content: center;
    align-items: center;
}

main{
    flex:1;
    height:100%;
    background:black;
}

nav{
    width:100%;
    height:3rem;
    background:#191919;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left:10%;
    padding-right: 10%;
    color:whitesmoke;
}

.logo span{
    color:rgb(230, 13, 49);
    font-size:2.5rem;
    font-family: fantasy;
}
.logo{
    font-size:1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

nav  a{

    color:white;
}

form{
    width:20rem;
    height:25rem;
    background:#191919;
    margin:2rem auto;
    padding:1rem;
    box-shadow: 0 0 0.5rem rgba(58, 56, 56, 0.4);
    
}

form input{
    width:100%;
    height:3.5rem;
    background:white;
    margin:0 auto;
    padding-left:1rem;
}


.form-control{
    margin:1rem;
}

.btn-submit{
    background:rgb(230, 13, 49);
    color:white;
    cursor: pointer;
}

.weightstatement{
    display:flex;
    color:white;
    padding-left:1rem;
}

footer{
    width:100vw;
    height:4rem;
    background:#191919;
    color:whitesmoke;
    text-align:center;
    font-size:0.9rem;
    
}

footer p{
    margin-top:1rem;
}



/* Mobile Phone Responsiveness*/


@media(max-width:600px){
    .container{
        max-width:600px;
    }

    .logo span{
    
    font-size:2rem;
    
   }
  .logo{
    font-size:1rem;
    margin-top:-0.9rem;
    position:relative;
    left:-2rem;
 }

 nav p{
    font-size: 0.8rem;
    margin-top:0.9rem;
    
}
nav h3{
   font-size: 0.8rem;
    margin-top:0.9rem; 
}

nav a{
    font-size: 0.8rem;
    margin-top:0.9rem; 
}

form{
    margin-top:6rem;
}

}