*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    overflow-x: hidden;
    user-select: none;
}

.container{
    width:100vw;
    height:100vh;
    background:white;
    display:flex;
    justify-content: center;
    align-items: center;
}

main{
    flex:1;
    height:100%;
    background:black;
}

nav{
    width:100%;
    height:3rem;
    background:#191919;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left:10%;
    padding-right: 10%;
    color:whitesmoke;
}

.logo span{
    color:rgb(230, 13, 49);
    font-size:2.5rem;
    font-family: fantasy;
}
.logo{
    font-size:1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

nav  a{

    color:white;
}

form{
    width:20rem;
    height:fit-content;
    background:#191919;
    padding:1rem;
    margin: 2rem auto;
    box-shadow: 0 0 0.5rem rgba(40, 1, 1, 0.2);
    border-radius: 4px;
}

.display{
    width:100%;
    height:3rem;
    background:white;
    font-size:1.5rem;
    border-radius: 4px;
    padding-left:0.5rem;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.buttons input{
    width:3rem;
    height:3rem;
    background:#333;
    box-shadow: -8px -8px 0.5rem rgba(40, 1, 1, 0.2),5px 5px 0.5rem rgba(0,0,0,0.2);
    margin:0.5rem;
    border-radius:4px;
    cursor:pointer;
    font-size:1.5rem;
    color:whitesmoke;
}

.buttons .equal{
    width:7rem;
    /* background:rgb(230, 13, 49); */
    background:green;
}

.buttons .special{
    color:yellowgreen;
}

footer{
    width:100vw;
    height:4rem;
    background:#191919;
    color:whitesmoke;
    text-align:center;
    font-size:0.9rem;
    
}

footer p{
    margin-top:1rem;
}

/* Mobile Responsiveness*/


@media(max-width:600px){
    .container{
        max-width:600px;
    }

    .logo span{
    
    font-size:2rem;
    
   }
  .logo{
    font-size:1rem;
    margin-top:-0.9rem;
    position:relative;
    left:-2rem;
 }

 nav p{
    font-size: 0.8rem;
    margin-top:0.9rem;
    
}
nav h3{
   font-size: 0.8rem;
    margin-top:0.9rem; 
}

nav a{
    font-size: 0.8rem;
    margin-top:0.9rem; 
}

form{
    margin-top:6rem;
}

}